<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="base_link">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="left_wheel_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="right_wheel_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="left_front_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="right_front_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo>
        <plugin name="mecanum_drive_control" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>50.0</odometryRate>
            <robot_base_frame>base_link</robot_base_frame>
            <publishTF>true</publishTF>
      
          </plugin>
    </gazebo>
    <gazebo reference="imu_link">
        <sensor type="imu" name="imu_sensor">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </x>                       
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
            <plugin name="imu" filename="libgazebo_ros_imu_sensor.so"/>
        </sensor>
    </gazebo>
    <!-- 
    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>30.0</update_rate>
            <plugin name="camera_sensor" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    -->
    <gazebo reference="lidar_link">
        <sensor type="ray" name="lidar_sensor">
            <always_on>true</always_on>
            <update_rate>200</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>200</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>1.5707</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>10.0</max>
                    <resolution>0.1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <!--
            <plugin name="lidar_sensor" filename="libgazebo_ros_ray_sensor.so">
                <frameName>lidar_link</frameName>
                <topicName>lidar/scan</topicName>
                <updateRate>10.0</updateRate>
                <visualize>true</visualize>
            </plugin>
            -->
        </sensor>
    </gazebo>
</robot>
